<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signin</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style> 
    <link rel="stylesheet" href="../public/assets/css/signin.css">

</head>
<body>
  <br><br>
  <div id="container">
     <div id="loginlogo" class="login-logo mb-5">
      <img src="../public/assets/img/Moeys.png" alt="" width="50px" style="margin-right: 20px;">
      <h3>ចូលប្រើប្រាស់ប្រព័ន្ធ FMS</h3>
  </div>
  <% if(error) {%>
    <span style="color: red;"><%= message %></span>
  <% } %>
  <form action="https://filemanagementsystem-7c8u.onrender.com/login" method="POST">
    <input type="text" name="username" placeholder="ឈ្មោះអ្នកប្រើ" style="height: calc(1.5em + 1.5rem + 2px); border-radius: 0.6rem; border-bottom-left-radius: 0; border-bottom-right-radius: 0;width: 100%;"/><br>
     <input type="password" name="password" placeholder="លេខសម្ងាត់" style="height: calc(1.5em + 1.5rem + 2px); border-radius: 0; border-bottom-left-radius: 0.6rem;border-bottom-right-radius: 0.6rem;width: 100%;" /><br><br>
    <button type="submit" style="color: #fff;background-color: #0c589c;border-color: #0b5190;height: 30px;">ចូលគណនី</button>
  </form>

  <h2>មិនមានគណនីប្រើប្រាស់?<form action="/signup" style="display: inline;"><button id="register" ><u>ចុះឈ្មោះ</u> </button> </form></h2>
  <br><br>
</div>
</body>
</html>
