<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Notification</title>
</head>
<body style="text-align: center;font-family:Khmer OS;">
    <h1>ផ្ញើសារទៅក្នុងក្រុមTelegram</h1>
    <form action="https://filemanagementsystem-7c8u.onrender.com/sendAlert" method="post">
        <label for="alertMessage">ផ្ញើសារ:</label>
        <input type="text" id="alertMessage" name="alertMessage" required>
        <button type="submit" style="font-family:Khmer OS;">បញ្ជូន</button>
      </form>
</body>
</html>
