#container{
   text-align: center;
   border: 2px solid black;
   width: 400px;
   height: 540px;
   padding: 60px;
   margin-left: 480px;
   background-color: rgb(247, 247, 247);
   box-shadow: 2px 0 5px #222;
   border-radius: 0.6rem
   font-family: Khmer OS SiemReap;
}
h2{
    font-size: medium;
     font-family: Khmer OS SiemReap;
}
.login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: #0f6cbf;
  }
body{
    
       background: linear-gradient(45deg, #3f51b5, #00bcd4);
     font-family: Khmer OS SiemReap;
}
#register{
    border: 0px;
    background-color: rgb(247, 247, 247);
}
#login{
    font-size: large;
}
